.content-container-light {
  height: 740px;
  background-color: whitesmoke;
  margin-top: -32.5px;
  padding-top: 0px;
  background-image: url(./img/react-logo.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 30%;
  background-size: 300px;
}

.content-container-dark {
  height: 743px;
  background-color: rgb(25, 25, 31);
  margin-top: -32.5px;
  padding-top: 0px;
  color: rgb(197, 196, 196);
  background-image: url(./img/react-logo.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 30%;
  background-size: 300px;
}

.main-topic {
  font-size: 48px;
  padding: 50px 50px;
  padding-bottom: 15px;
  
}

.content-container-dark > .list-item {
  color: rgb(151, 151, 151);
}

.list-item {
  /* font-size: 20px; */
  padding: 0px 100px;
}

.list-item > li {
  padding: 10px;
  font-size: 30px;
}
/* .list-item > li > span {
  font-size: 20px;
  
} */

li::marker {
  color: rgb(42, 172, 190);
  font-size: 35px;
}

